{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "components": "./src/components",
          "config": "./src/config",
          "navigation": "./src/navigation",
          "screens": "./src/screens",
          "utils": "./src/utils"
        }
      }
    ]
  ]
}
